@model System.Data.DataTable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNoAdministrador.cshtml";
}

<h1>Consulta de Movimientos de Consumo</h1>

<p>
    Numero de Finca:@Model.Rows[0][0]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p style="height:5px">Nombre</p>
            </th>
            <th>
                <p style="height:5px">Fecha</p>
            </th>
            <th>
                <p style="height:5px">Monto</p>
            </th>
            <th>
                <p style="height:5px">Nuevo Saldo</p>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            decimal saldo = 0;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                saldo = saldo + (decimal)Model.Rows[i][3];
                <tr>
                    <td>
                        <p style="height:5px">@Model.Rows[i][1].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][2].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][3].ToString()</p>
                    </td>
                    <td>
                        @saldo
                    </td>
                </tr>
            }
        }

    </tbody>
</table>