@model System.Data.DataTable

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Desasociar</h1>

<h3>¿Seguro que los desea desasociar?</h3>
<div>
    <h4>Persona - Propiedad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Rows[0][0].ToString()
        </dd>
        <dt class="col-sm-2">
            Numero de Finca
        </dt>
        <dd class="col-sm-10">
            @Model.Rows[0][1].ToString()
        </dd>
        <dt class="col-sm-2">
            Fecha Inicio
        </dt>
        @{
            if (Model.Rows[0][2].ToString() == "")
            {
                <dd class="col-sm-10">
                    No registrada
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @Model.Rows[0][2].ToString()
                </dd>
            }
        }
        <dt class="col-sm-2">
            Fecha Fin
        </dt>
        @{
            if (Model.Rows[0][3].ToString() == "")
            {
                <dd class="col-sm-10">
                    No registrada
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @Model.Rows[0][3].ToString()
                </dd>
            }
        }
    </dl>
    
    <form asp-action="DesasociarPersonaPropiedad">
        <input type="submit" value="Desasociar" class="btn btn-danger" /> |
        <a asp-action="PersonaPropiedad">Back to List</a>
    </form>
</div>
