@model System.Data.DataTable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUsuario">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" name="username" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="text" name="password" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Usuario</label>
                <select name="tipoUsuario" class="form-control" style="inline-size:auto; display:inline" required>
                    <option>Administrador</option>
                    <option>Propietario</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Valor del Documento de Identidad</label>
                <input type="number" name="valoDocId" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
            <span class="text-danger">@ViewData["ErrorData"]</span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Usuario">Back to List</a>
</div>

